

.main-bg{
  height: 400px;
  background-image: url('./img/main_banner.jpg');
  background-size: cover;
  background-position: center;
}
.col{
  /* background-color: rgb(116, 116, 221); */
  /* border-radius: 10px; */
  /* color: white; */
  text-align: center;
}
.col img{
  margin-top: 10px;
  border-radius: 5%;
}